In [28]:
import numpy as np 
import pandas as pd

In [29]:
df = pd.read_csv('insurance_claims.csv')
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [30]:
df.replace('?',np.nan,inplace=True)

In [31]:
def custom_describe(data):
    """
    Generate a custom description of a DataFrame including basic statistics,
    missing values count, unique values count, outliers count, and data types.
 
    Parameters:
    - data (pd.DataFrame): The pandas DataFrame to be described.
 
    Returns:
    pd.DataFrame: A custom description DataFrame with the following columns:
    - data_type: Data types for each column.
    - mean: Mean value for each numeric column.
    - std: Standard deviation for each numeric column.
    - missing_values: Count of missing values for each column.
    - unique_values: Count of unique values for each column.
    - outliers: Count of outliers for each numeric column.
    """
    # Basic statistics
    desc_stats = data.describe()
 
    # Missing values count
    missing_values = data.isnull().mean()
 
    # Unique values count
    unique_values = data.nunique()
 
    # Identify numeric columns
    numeric_cols = data.select_dtypes(include=['number']).columns
 
    # Calculate IQR and identify outliers for each numeric column
    outliers = {}
    for col in numeric_cols:
        q1 = desc_stats.loc['25%', col]
        q3 = desc_stats.loc['75%', col]
        iqr = q3 - q1
        lower_bound = q1 - 1.5 * iqr
        upper_bound = q3 + 1.5 * iqr
        outliers[col] = ((data[col] < lower_bound) | (data[col] > upper_bound)).sum()
 
    # Get data types for each column
    data_types = data.dtypes
   
    # Combine all information
    custom_description = pd.DataFrame({
        'data_type': data_types,
        'mean': desc_stats.loc['mean'],
        'std': desc_stats.loc['std'],
        'missing_values_Average': missing_values,
        'unique_values': unique_values,
        'outliers': outliers
    })
    return custom_description

In [32]:
custom_describe(df)

,data_type,mean,std,missing_values_Average,unique_values,outliers
_c39,float64,NaN,NaN,1.000,0,0.0
age,int64,3.894800e+01,9.140287e+00,0.000,46,4.0
authorities_contacted,object,NaN,NaN,0.091,4,NaN
auto_make,object,NaN,NaN,0.000,14,NaN
auto_model,object,NaN,NaN,0.000,39,NaN
auto_year,int64,2.005103e+03,6.015861e+00,0.000,21,0.0
bodily_injuries,int64,9.920000e-01,8.201272e-01,0.000,3,0.0
capital-gains,int64,2.512610e+04,2.787219e+04,0.000,338,0.0
capital-loss,int64,-2.679370e+04,2.810410e+04,0.000,354,0.0
collision_type,object,NaN,NaN,0.178,3,NaN
fraud_reported,object,NaN,NaN,0.000,2,NaN
incident_city,object,NaN,NaN,0.000,7,NaN
incident_date,object,NaN,NaN,0.000,60,NaN
incident_hour_of_the_day,int64,1.164400e+01,6.951373e+00,0.000,24,0.0
incident_location,object,NaN,NaN,0.000,1000,NaN
incident_severity,object,NaN,NaN,0.000,4,NaN
incident_state,object,NaN,NaN,0.000,7,NaN
incident_type,object,NaN,NaN,0.000,4,NaN
injury_claim,int64,7.433420e+03,4.880952e+03,0.000,638,0.0
insured_education_level,object,NaN,NaN,0.000,7,NaN
insured_hobbies,object,NaN,NaN,0.000,20,NaN
insured_occupation,object,NaN,NaN,0.000,14,NaN
insured_relationship,object,NaN,NaN,0.000,6,NaN
insured_sex,object,NaN,NaN,0.000,2,NaN
insured_zip,int64,5.012145e+05,7.170161e+04,0.000,995,0.0
months_as_customer,int64,2.039540e+02,1.151132e+02,0.000,391,0.0
number_of_vehicles_involved,int64,1.839000e+00,1.018880e+00,0.000,4,0.0
police_report_available,object,NaN,NaN,0.343,2,NaN
policy_annual_premium,float64,1.256406e+03,2.441674e+02,0.000,991,9.0
policy_bind_date,object,NaN,NaN,0.000,951,NaN
policy_csl,object,NaN,NaN,0.000,3,NaN
policy_deductable,int64,1.136000e+03,6.118647e+02,0.000,3,0.0
policy_number,int64,5.462386e+05,2.570630e+05,0.000,1000,0.0
policy_state,object,NaN,NaN,0.000,3,NaN
property_claim,int64,7.399570e+03,4.824726e+03,0.000,626,6.0
property_damage,object,NaN,NaN,0.360,2,NaN
total_claim_amount,int64,5.276194e+04,2.640153e+04,0.000,763,1.0
umbrella_limit,int64,1.101000e+06,2.297407e+06,0.000,11,202.0
vehicle_claim,int64,3.792895e+04,1.888625e+04,0.000,726,0.0
witnesses,int64,1.487000e+00,1.111335e+00,0.000,4,0.0

In [33]:
df.drop(columns='_c39',inplace=True)

In [34]:
columns_with_null = df.columns[df.isnull().any()]

In [35]:
columns_with_null

Index(['collision_type', 'authorities_contacted', 'property_damage',
       'police_report_available'],
      dtype='object')

In [36]:
val = df.loc[:,['collision_type', 'authorities_contacted', 'property_damage','police_report_available']]
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy = 'most_frequent')
df.loc[:,['collision_type', 'authorities_contacted', 'property_damage','police_report_available']] =  pd.DataFrame(imp.fit_transform(val), columns = columns_with_null)

In [38]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,NO,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N